<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta name="description"
          content="Software Engineering portfolio website.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/styles.css" rel="stylesheet"/>
    <title>Daniel Morrison Portfolio</title>
</head>
<body>
    <div class="container">
        <h1>Daniel Morrison</h1>
        <div class="personal-container">
            <p>
               DevOps Engineer by day and dog enthusiast by night. I'm a passionate software professional
               that enjoys working with large systems and automating repetitive processes. Below are some recent projects
               I've made, along with links to them and their code.
               If you're looking to get in touch, contact me through LinkedIn using the link below.
            </p>
            <a href="https://www.linkedin.com/in/dsm0014/"><img class="linkedin" src="linkedin.png" alt="LinkedIn logo"></a>

        </div>

        <div class="project-container">
            <div class="project">
                <h2>Portfolio Website</h2>
                <p>
                    This portfolio website is a Java Spring Boot application running in a Kubernetes cluster on
                    Digital Ocean. The infrastructure is provisioned using Terraform, and the CI/CD process
                    is managed with Github Actions.
                </p>
                <a href="https://github.com/dsm0014/dsm-portfolio"><img src="github64.png" alt="Github logo"></a>
            </div>
            <div class="project">
                <h2>Iguana Search Engine</h2>
                <p>
                    The iguana search engine is a Java Spring Boot and MongoDB application running in a Kubernetes cluster on
                    Digital Ocean. The infrastructure is provisioned using Terraform, and a custom built Helm chart.
                    The CI/CD process is managed with Github Actions.
                </p>
                <div class="project-links">
                    <a href="https://github.com/dsm0014/iguana-k8"><img src="github64.png" alt="Github logo"></a>
                    <a href="https://iguana-k8.dsmorrison.com"><img src="iguana64.png" alt="Iguana search engine logo"></a>
                </div>
            </div>
        </div>
    </div>

</body>
</html>